<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 230920 / 리연 추가 -->
<mapper namespace="com.monstar.traffic.dao.ExDao">
<!-- 
	<select id="list" resultType="com.monstar.traffic.dto.ExDto">
		SELECT * FROM METRO_ELEVATOR
	</select> -->
</mapper>