<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 230920 / 리연 추가 -->
<mapper namespace="com.monstar.traffic.dao.MetroDao">
	<!-- 
	=======================
	공지사항
	=======================
	-->
	<insert id="insert" parameterType="com.monstar.traffic.dto.NoticeDto">
		INSERT INTO METRO_NOTICE
		VALUES(METRO_NOTICE_SEQ.NEXTVAL,#{title}, #{content},SYSDATE,0)
	</insert>
	
	<select id="getData" parameterType="int" resultType="com.monstar.traffic.dto.NoticeDto">
		SELECT * FROM METRO_NOTICE
		WHERE no=#{no}
	</select>
	<!-- 조회수 업데이트 -->
	<update id="upHit" parameterType="int">
		UPDATE METRO_NOTICE SET HIT=HIT+1 WHERE NO=#{no}
	</update>
	
	<!--페이징 처리에 대한 동적쿼리 -->
	<sql id="includeList">
		<choose>
			<when test="param4==1">
				WHERE TITLE LIKE '%'||#{param3} ||'%'
			</when>
			<when test="param4==2">
				WHERE CONTENT LIKE '%'||#{param3} ||'%'
			</when>
			<when test="param4==3">
				WHERE TITLE LIKE '%'||#{param3} ||'%' OR CONTENT LIKE
				'%'||#{param3} ||'%'
			</when>
			<otherwise>

			</otherwise>
		</choose>
	</sql>
	
	<select id="listNotice"
		resultType="com.monstar.traffic.dto.NoticeDto">
		SELECT *
		FROM
		(SELECT ROWNUM NUM,N.* FROM
		(SELECT * FROM METRO_NOTICE ORDER BY NO DESC) N
		<include refid="includeList" />
		)
		WHERE NUM BETWEEN #{param1} AND #{param2}
	</select>

	<!-- 유형별로 총 갯수 구하기 -->
	<select id="selectBoardTotCount1" resultType="Integer">
		SELECT COUNT(*)
		FROM METRO_NOTICE WHERE TITLE LIKE '%'||#{param1} ||'%'
	</select>
	<select id="selectBoardTotCount2" resultType="Integer">
		SELECT COUNT(*)
		FROM METRO_NOTICE WHERE CONTENT LIKE '%'||#{param1} ||'%'
	</select>
	<select id="selectBoardTotCount3" resultType="Integer">
		SELECT COUNT(*)
		FROM METRO_NOTICE WHERE TITLE LIKE '%'||#{param1} ||'%' OR CONTENT LIKE '%'||#{param1} ||'%'
	</select>
	<select id="selectBoardTotCount4" resultType="Integer">
		SELECT COUNT(*)
		FROM METRO_NOTICE
	</select>
	<!-- 
	=======================
	지하철 엘레베이터 위치
	=======================
	-->
	<!-- 엘레베이터 전체 정보 -->
	<select id="listElevator" resultType="com.monstar.traffic.dto.MetroElevatorDto">
		SELECT * FROM METRO_ELEVATOR
	</select>
	
	<!-- 서울시 구역별 지하철 엘레베이터 갯수 -->
	<select id="listElevatorSGG" resultType="com.monstar.traffic.dto.MetroElevatorDto">
		SELECT COUNT(*) AS SGG_COUNT, SGG_NM 
		FROM METRO_ELEVATOR 
		GROUP BY SGG_NM 
		ORDER BY SGG_NM ASC
	</select>
	
	<!-- 
	=======================
	지하철 혼잡도
	=======================
	-->
	
	<!-- 호선별 혼잡도 정보 -->
	<select id="listJam" parameterType="com.monstar.traffic.dto.MetroJamDto" resultType="com.monstar.traffic.dto.MetroJamDto">
		SELECT * FROM METRO_CONGESTION WHERE DEPARTURESTATION=#{departurestation} AND LINENAME=#{linename}
	</select>
	
	<!-- 호선별 지하철 역명 -->
	<select id="listJamLine" parameterType="com.monstar.traffic.dto.MetroJamDto" resultType="com.monstar.traffic.dto.MetroJamDto">
		SELECT DISTINCT DEPARTURESTATION FROM METRO_CONGESTION WHERE LINENAME=#{linename} ORDER BY DEPARTURESTATION
	</select>
	
	<!-- 혼잡도 높은 시간에 대한 동적쿼리 -->
	<sql id="includeTime">
		GREATEST(
		COALESCE(AM05_30, 0),COALESCE(AM06_00, 0),COALESCE(AM06_30, 0),COALESCE(AM07_00,0),COALESCE(AM07_30, 0),COALESCE(AM08_00, 0),
		COALESCE(AM08_30, 0),COALESCE(AM09_00, 0),COALESCE(AM09_30, 0),COALESCE(AM10_00,0),COALESCE(AM10_30, 0),COALESCE(AM11_00, 0),
		COALESCE(AM11_30, 0),COALESCE(PM12_00, 0),COALESCE(PM12_30, 0),COALESCE(PM13_00,0),COALESCE(PM13_30, 0),COALESCE(PM14_00, 0),
		COALESCE(PM14_30, 0),COALESCE(PM15_00, 0),COALESCE(PM15_30, 0),COALESCE(PM16_00,0),COALESCE(PM16_30, 0),COALESCE(PM17_00, 0),
		COALESCE(PM17_30, 0),COALESCE(PM18_00, 0),COALESCE(PM18_30, 0),COALESCE(PM19_00,0),COALESCE(PM19_30, 0),COALESCE(PM20_00, 0),
		COALESCE(PM20_30, 0),COALESCE(PM21_00, 0),COALESCE(PM21_30, 0),COALESCE(PM22_00,0),COALESCE(PM22_30, 0),COALESCE(PM23_00, 0),
		COALESCE(PM23_30, 0),COALESCE(AM00_00, 0),COALESCE(AM00_30, 0)
		)
	</sql>
	<!-- 각 호선별 혼잡도 높은 순위 -->
	<select id="listJamLineHigh"
	parameterType="com.monstar.traffic.dto.MetroJamDto"
	resultType="com.monstar.traffic.dto.MetroJamDto">
	SELECT *
	FROM ( SELECT DEPARTURESTATION, DAYOFWEEKDIVISION,DIVISIONNAME,
			<include refid="includeTime" /> AS MOST_CONGESTED_TIME,
			CASE
				WHEN <include refid="includeTime" /> = AM05_30 THEN '5시~5시30분'
				WHEN <include refid="includeTime" /> = AM06_00 THEN '6시~6시30분'
				WHEN <include refid="includeTime" /> = AM06_30 THEN '6시30분~7시'
				WHEN <include refid="includeTime" /> = AM07_00 THEN '7시~7시30분'
				WHEN <include refid="includeTime" /> = AM07_30 THEN '7시30분~8시'
				WHEN <include refid="includeTime" /> = AM08_00 THEN '8시~8시30분'
				WHEN <include refid="includeTime" /> = AM08_30 THEN '8시30분~9시'
				WHEN <include refid="includeTime" /> = AM09_00 THEN '9시~9시30분'
				WHEN <include refid="includeTime" /> = AM09_30 THEN '9시30분~10시'
				WHEN <include refid="includeTime" /> = AM10_00 THEN '10시~10시30분'
				WHEN <include refid="includeTime" /> = AM10_30 THEN '10시30분~11시'
				WHEN <include refid="includeTime" /> = AM11_00 THEN '11시~11시30분'
				WHEN <include refid="includeTime" /> = AM11_30 THEN '11시30분~12시'
				WHEN <include refid="includeTime" /> = PM12_00 THEN '12시~12시30분'
				WHEN <include refid="includeTime" /> = PM12_30 THEN '12시30분~13시'
				WHEN <include refid="includeTime" /> = PM13_00 THEN '13시~13시30분'
				WHEN <include refid="includeTime" /> = PM13_30 THEN '13시30분~14시'
				WHEN <include refid="includeTime" /> = PM14_00 THEN '14시~14시30분'
				WHEN <include refid="includeTime" /> = PM14_30 THEN '14시30분~15시'
				WHEN <include refid="includeTime" /> = PM15_00 THEN '15시~15시30분'
				WHEN <include refid="includeTime" /> = PM15_30 THEN '15시30분~16시'
				WHEN <include refid="includeTime" /> = PM16_00 THEN '16시~16시30분'
				WHEN <include refid="includeTime" /> = PM16_30 THEN '16시30분~17시'
				WHEN <include refid="includeTime" /> = PM17_00 THEN '17시~17시30분'
				WHEN <include refid="includeTime" /> = PM17_30 THEN '17시30분~18시'
				WHEN <include refid="includeTime" /> = PM18_00 THEN '18시~18시30분'
				WHEN <include refid="includeTime" /> = PM18_30 THEN '18시30분~19시'
				WHEN <include refid="includeTime" /> = PM19_00 THEN '19시~19시30분'
				WHEN <include refid="includeTime" /> = PM19_30 THEN '19시30분~20시'
				WHEN <include refid="includeTime" /> = PM20_00 THEN '20시~20시30분'
				WHEN <include refid="includeTime" /> = PM20_30 THEN '20시30분~21시'
				WHEN <include refid="includeTime" /> = PM21_00 THEN '21시~21시30분'
				WHEN <include refid="includeTime" /> = PM21_30 THEN '21시30분~22시'
				WHEN <include refid="includeTime" /> = PM22_00 THEN '22시~22시30분'
				WHEN <include refid="includeTime" /> = PM22_30 THEN '22시30분~23시'
				WHEN <include refid="includeTime" /> = PM23_00 THEN '23시~23시30분'
				WHEN <include refid="includeTime" /> = PM23_30 THEN '23시30분~00시'
				WHEN <include refid="includeTime" /> = AM00_00 THEN '00시~00시30분'
			ELSE '00시30분~1시'
			END AS MOST_CONGESTED_TIME_HOUR
			FROM METRO_CONGESTION
			WHERE LINENAME=#{linename}
			ORDER BY MOST_CONGESTED_TIME DESC )
	<![CDATA[WHERE ROWNUM <= 5]]>
	</select>
	
	<!-- 전체 호선 혼잡도 높은 순위 -->
	<select id="listJamLineHighALL" resultType="com.monstar.traffic.dto.MetroJamDto">
	SELECT *
	FROM ( SELECT DEPARTURESTATION, DAYOFWEEKDIVISION, DIVISIONNAME, LINENAME,
			<include refid="includeTime" /> AS MOST_CONGESTED_TIME,
			CASE
				WHEN <include refid="includeTime" /> = AM05_30 THEN '5시~5시30분'
				WHEN <include refid="includeTime" /> = AM06_00 THEN '6시~6시30분'
				WHEN <include refid="includeTime" /> = AM06_30 THEN '6시30분~7시'
				WHEN <include refid="includeTime" /> = AM07_00 THEN '7시~7시30분'
				WHEN <include refid="includeTime" /> = AM07_30 THEN '7시30분~8시'
				WHEN <include refid="includeTime" /> = AM08_00 THEN '8시~8시30분'
				WHEN <include refid="includeTime" /> = AM08_30 THEN '8시30분~9시'
				WHEN <include refid="includeTime" /> = AM09_00 THEN '9시~9시30분'
				WHEN <include refid="includeTime" /> = AM09_30 THEN '9시30분~10시'
				WHEN <include refid="includeTime" /> = AM10_00 THEN '10시~10시30분'
				WHEN <include refid="includeTime" /> = AM10_30 THEN '10시30분~11시'
				WHEN <include refid="includeTime" /> = AM11_00 THEN '11시~11시30분'
				WHEN <include refid="includeTime" /> = AM11_30 THEN '11시30분~12시'
				WHEN <include refid="includeTime" /> = PM12_00 THEN '12시~12시30분'
				WHEN <include refid="includeTime" /> = PM12_30 THEN '12시30분~13시'
				WHEN <include refid="includeTime" /> = PM13_00 THEN '13시~13시30분'
				WHEN <include refid="includeTime" /> = PM13_30 THEN '13시30분~14시'
				WHEN <include refid="includeTime" /> = PM14_00 THEN '14시~14시30분'
				WHEN <include refid="includeTime" /> = PM14_30 THEN '14시30분~15시'
				WHEN <include refid="includeTime" /> = PM15_00 THEN '15시~15시30분'
				WHEN <include refid="includeTime" /> = PM15_30 THEN '15시30분~16시'
				WHEN <include refid="includeTime" /> = PM16_00 THEN '16시~16시30분'
				WHEN <include refid="includeTime" /> = PM16_30 THEN '16시30분~17시'
				WHEN <include refid="includeTime" /> = PM17_00 THEN '17시~17시30분'
				WHEN <include refid="includeTime" /> = PM17_30 THEN '17시30분~18시'
				WHEN <include refid="includeTime" /> = PM18_00 THEN '18시~18시30분'
				WHEN <include refid="includeTime" /> = PM18_30 THEN '18시30분~19시'
				WHEN <include refid="includeTime" /> = PM19_00 THEN '19시~19시30분'
				WHEN <include refid="includeTime" /> = PM19_30 THEN '19시30분~20시'
				WHEN <include refid="includeTime" /> = PM20_00 THEN '20시~20시30분'
				WHEN <include refid="includeTime" /> = PM20_30 THEN '20시30분~21시'
				WHEN <include refid="includeTime" /> = PM21_00 THEN '21시~21시30분'
				WHEN <include refid="includeTime" /> = PM21_30 THEN '21시30분~22시'
				WHEN <include refid="includeTime" /> = PM22_00 THEN '22시~22시30분'
				WHEN <include refid="includeTime" /> = PM22_30 THEN '22시30분~23시'
				WHEN <include refid="includeTime" /> = PM23_00 THEN '23시~23시30분'
				WHEN <include refid="includeTime" /> = PM23_30 THEN '23시30분~00시'
				WHEN <include refid="includeTime" /> = AM00_00 THEN '00시~00시30분'
			ELSE '00시30분~1시'
			END AS MOST_CONGESTED_TIME_HOUR
			FROM METRO_CONGESTION
			ORDER BY MOST_CONGESTED_TIME DESC )
	<![CDATA[WHERE ROWNUM <= 5]]>
	</select>
</mapper>