<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 230920 / 리연 추가 -->
<mapper namespace="com.monstar.traffic.dao.MetroDao">

	<select id="listElevator" resultType="com.monstar.traffic.dto.MetroElevatorDto">
		SELECT * FROM METRO_ELEVATOR
	</select>
	<select id="listJam" parameterType="com.monstar.traffic.dto.MetroJamDto" resultType="com.monstar.traffic.dto.MetroJamDto">
		SELECT * FROM METRO_CONGESTION WHERE DEPARTURESTATION=#{departurestation} AND LINENAME=#{linename}
	</select>
	
	<select id="listJamLine" parameterType="com.monstar.traffic.dto.MetroJamDto" resultType="com.monstar.traffic.dto.MetroJamDto">
		SELECT DISTINCT DEPARTURESTATION FROM METRO_CONGESTION WHERE LINENAME=#{linename} ORDER BY DEPARTURESTATION
	</select>
</mapper>